.container{
    margin-bottom: 100px;
}
.carousel-bg{
    background: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buynow-button{
    background-image: linear-gradient(to bottom,#ff5898,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.categories h1{
    color: white;
    font-weight: 700px;
}
.categories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 8px;
}
.cat1{
    /* background-color: #F0932E; */
    background-image: linear-gradient(to right,#F0932E,#F4C61E);
}
.cat2{
    background-image: linear-gradient(180deg,#EB1E6B,#EE468A);
}
.cat3{
    background-image: linear-gradient(to left,#3814FA,#406AFF);
    background-color: #007ACC;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
.form-control{
    margin-bottom: 5px;
}
footer{
    text-align: center;
}
